body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f3f58f;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grid {
  width: 600px;
  height: auto; /* auto thay vì cố định */
  background: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.image {
  width: 60%;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cell {
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
}
